{% extends 'base.html.twig' %}

{% block body %}
    <div id="auth">

        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="{{ path('app_register') }}"><img src="{{ asset('build/logo/logo.png') }}" alt="Logo"></a>
                    </div>
                    <h1 class="auth-title">{{ h1|trans }}</h1>
                    <p class="auth-subtitle mb-5">{{ subtitle|trans }}</p>

                    {% block form %}
                    {% endblock %}
                    <div class="text-center mt-5 text-lg fs-4">
                    {% block afterForm %}
                    {% endblock %}
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right">

                </div>
            </div>
        </div>

    </div>
{% endblock %}
