{% extends 'sidebar_layout.html.twig' %}

{% set pageTitle = 'template.dashboard.page_title'|trans %}
{% set h1 = 'template.dashboard.h1'|trans %}

{% block content %}
    <div class="card">
        <div class="card-body">
            Hello
        </div>
    </div>
{% endblock %}
