<form method="post" action="{{ path('app_car_booking_delete', {'id': carBooking.id}) }}" onsubmit="return confirm('{{ 'common.action.confirm_delete'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carBooking.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
